@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Poppins", sans-serif;
    color: #333;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}


.row {
    margin-left: -15px;
    margin-right: -15px;
}

.section {
    margin-top: 50px;
}

.title {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}

.video-player {
    text-align: center;
}

.image-gallery {
    width: 600px;
    margin: 0 auto 50px;
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    width: 33%;
    overflow: hidden;
    padding: 1px;
}

.image-item img {
    max-width: 100%;
    display: block;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .section {
        padding: 0 15px;
    }
    video {
        width: 100%;
    }
    .image-gallery {
        width: 100%;
    }
}


.title{
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.image-item{
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.image-item:hover{
  transform: scale3d(1.5,1.5,1.5)
}